.side-menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.menu-header {
  padding: 18px 20px;
  height: 59px;
  background-color: #678cab;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  .side-nav-icon {
    fill: #fff;
    line-height: 1;
    cursor: pointer;
  }

  .search-icon {
    margin-inline-start: auto;
    cursor: pointer;
  }
}

.menu-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;

  .loged-in-user {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f1fdff;
    margin-bottom: 40px;

    .user-profile-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-inline-end: 10px;
    }

    .user-name {
      font-family: Roboto;
      font-size: 18px;
      color: #363636;
    }
  }

  .menu-items-container {
    display: flex;
    flex-direction: column;
    .menu-item {
      display: flex;
      align-items: center;
      padding: 12.5px 20px;
      cursor: pointer;

      &.justify-center {
        justify-content: center;
      }
      &.active {
        background-color: #f1fdff;
      }

      .menu-item-icon {
        width: 20px;
        height: 20px;
        fill: #363636;
      }
      .menu-item-title {
        font-family: Roboto;
        font-size: 16px;
        color: #363636;
        margin-inline-start: 16px;
      }
    }
  }
}
